---
// index.astro
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../pages/landing/index.astro';
title: "The Okay Lakes | Redshift"
---
<MainLayout>
  <Hero />
</MainLayout>

<h1>HELLO HI HELLO HI</h1>