---
import Head from '../../components/Head.astro';
import MainLayout from "../../layouts/MainLayout.astro";
import '../../styles/global.css'; // Import global styles
import LyricsCard from "../../components/LyricsCard.astro";
---
<Head title="Lyrics" description="Lyrics for Redshift by The Okay Lakes" />
<MainLayout>
  <section class="container h-full bg-white/90 backdrop-blur-md shadow-moonglow border-1 border-white p-6 mx-auto my-10">
<LyricsCard />
  </section>
</MainLayout>