---
import Head from "../../components/Head.astro";
import "../../styles/global.css"; // Import global styles
---

<Head title="Redshift by The Okay Lakes" description="An album for moonsilvered drives on the patchily paved backroads of Michigan." />

<section class="my-auto relative min-h-screen max-h-screen flex flex-col gap-4">
  <div class="flex items-start w-screen justify-center">
    <img
      src="/images/redshift_album_art.webp"
      alt="Album Art"
      class="lg:max-w-4xl lg:max-h-2xl md:max-h-1/3 object-cover mx-auto shadow-moonglow"
    />
  </div>

</section>

