---
// ContentBlock.astro
const { title } = Astro.props;
import "../styles/global.css";
---

<section
  class="py-10 my-10 bg-white max-w-4xl bg-opacity-10 rounded-lg shadow-xl px-6 backdrop-blur-md mx-auto"
>
  <h2 class="text-3xl font-bold mb-6 text-white">{title}</h2>
  <p class="text-cyan-100">
    A soundtrack to a moonsilvered night drive on the patchily paved backroads
    of the Midwest.
  </p>


</section>
