---
// Nav.astro
---

<section class="relative content-center">
  // <div class="relative flex flex-col justify-start max-w-lg min-w-lg mx-auto my-auto">
    <img
      src="/svgs/theokaylakes.svg"
      alt="The Okay Lakes Logo"
      class="object-contain flex-1 mt-6 mb-3 mx-auto"
    />
    <img
      src="/svgs/redshift.svg"
      alt="Redshift Logo"
      class="mx-auto mt-3 object-contain flex-1"
    />

  </div>
</section>
