---
const currentPath = Astro.url.pathname;
import '../styles/global.css';
---

<section class="w-screen relative content-center mt-4">
  <div class="flex justify-center space-x-8">
    
    <a href="/listen/" class={`nav ${currentPath === '/listen/' ? 'underline' : ''}`}>Listen</a>
    <a href="/lyrics/" class={`nav ${currentPath === '/lyrics/' ? 'underline' : ''}`}>Lyrics</a>
    <a href="/credits/" class={`nav ${currentPath === '/credits/' ? 'underline' : ''}`}>Credits</a>
  </div>
</section>

<style>
  .nav {
    @apply text-moonsilver text-sm font-bold uppercase transition ease-in-out hover:text-white hover:duration-300;
  }

  .underline {
    text-decoration: underline;
    text-underline-offset: 4px; /* Adjust the offset as needed */
  }
</style>
