---
// Nav.astro
---

<section class="w-screen bg-dark/40 backdrop-blur-sm relative content-center">
  <div class="right-6 top-12 justify-center flex p-2">
    <button
    onclick="window.open('https://listen.theokaylakes.com/redshift', '_blank', 'noopener,noreferrer')"
    class="btn">
  Listen</button>
    

    <button
    onclick="window.open('/lyrics/', '_blank', 'noopener,noreferrer')"
    class="btn">
  Lyrics</button>

  <button
  onclick="window.open('/credits/', '_blank', 'noopener,noreferrer')"
  class="btn">
Credits</button>
    
  </div>

  </div>
</section>
