---
import Head from "../../components/Head.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import '../../styles/global.css'; // Import global styles

---
<Head title="Credits" description="Credits for Redshift by The Okay Lakes" />
<MainLayout>
    <section class="flex flex-col items-center justify-center h-full">
 
        <div class="my-40 mx-auto backdrop-blur-md shadow-moonglow border-2 border-white max-w-4xl justify-middle text-sm text-cyan-100 font-garamond text-balanced p-6">
     
<p>Music, Lyrics & Arrangements: Jordan Keller
<br>Vocals, Guitars, Bass, Piano, Synth, Harmonica: Jordan Keller
<br>Drums, Auxiliary Percussion, Background Vocals: Ryan Birkett
<br>Background Vocals on Tracks 1, 2, 6, 8, 9, 10, 12: Makena Hartlin
<br>Background Vocals on Tracks 3, 5 & 12: Megan Cox
<br>Cello: Lewis Rawlinson
<br>Viola & Violin: Kristi Rawlinson
<br>String Arrangements: Lewis Rawlinson
<br>
<br>Original Artwork: David Bez
<br>Artwork Photography: Odd Commodity
<br>Recording & Mastering Engineer: James Scott
<br>Mixing Engineer: Grant Cornish
<br>Additional Engineering: Alex Dempsey

<br>Producer: Jordan Keller
<br>Assistant Producers: Ryan Birkett & James Scott
<br>
<br>
Recorded March 2018–April 2022 at Populist Studios in Wheaton, Illinois & Shirk Studios in Chicago, Illinois.

Additional recording at Halo Studios in Nashville. Elements from recordings in a bedroom studio in Lincoln Square circa 2013, and on a living-room couch in Humboldt Park circa 2021. Recording of wine glasses filled with water circa 2006 in southwest Michigan.
<p>
Released February 23, 2023</p> 
</div>
    <p class="text-center"><a href="mailto:jordan@theokaylakes.com">Hi.</a></p>
  </div>

</section></MainLayout>