---
// MainLayout.astro
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <ClientRouter>
  <link rel="preload" href="/images/layout_bg.jpg" as="image">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redshift - The Okay Lakes</title>
</head>
<body class="min-h-screen relative bg-black">
  <div 
    class="fixed inset-0 -z-10 bg-cover bg-center opacity-70"
    style="background-image: url('/images/layout_bg.jpg');"
  ></div>

  <main class="w-auto mx-auto">
  
    <slot />
  </main>
</body>
</html>